<template>
  <DefaultLayout>
    <h1 class="text-center mb-5">Welcome to <span class="text-danger">EMAS</span></h1>
    <span>I am changed</span>
    <div class="row">
      <div v-for="(item, index) in new Array(8)" :key="index" class="col-md-3 my-3">
        <CardBlog />
      </div>
    </div>
  </DefaultLayout>
</template>

<script>
import DefaultLayout from '../core/layouts/defaultLayout.vue';
import CardBlog from './components/CardBlog.vue';

export default {
  name: 'Emas',
  components: {
    DefaultLayout,
    CardBlog
  }
}
</script>