<template lang="html">
  <TheHeader />
  <div class="container py-5">
    <slot></slot>
  </div>
  <TheFooter />
</template>

<script>
import TheHeader from "../components/TheHeader.vue";
import TheFooter from '../components/TheFooter.vue'

export default {
  components: {
    TheHeader,
    TheFooter
  }
}
</script>