<template lang="html">
  <DefaultLayout>
    <h3 class="text-center">Hello From Root</h3>
  </DefaultLayout>
</template>

<script>
import DefaultLayout from './core/layouts/defaultLayout.vue';
import EmasApp from './emas/Emas.vue';
import MasApp from './mas/Mas.vue';

export default {
  name: "App",
  components: {
    DefaultLayout,
    EmasApp,
    MasApp
  }
};
</script>

<style lang="scss" scoped>
</style>
